@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
		<!-- end:fh5co-header -->
		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(images/mst-main.jpg);">
				<div class="desc animate-box">
					<div class="container">
						<div class="row">
							<div class="col-md-7">
								<h2>MST <b>Systems</b></h2>
								<p><span>Training Systems personally tailored to your goals</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="fh5co-programs-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="heading-section text-center animate-box">
							<h2>@Umbraco.Field("programsTitle", removeParagraphTags: true)</h2>
							<p>@Umbraco.Field("programsDescription", removeParagraphTags: true)</p>
						</div>
					</div>
				</div>
				<div class="row text-center">
					
                @{
                    var selection = CurrentPage.Site().FirstChild("programs").Children("program").Where("Visible");
                }
	            @foreach (var item in selection)
                {
			        <div class="col-md-4 col-sm-6">
			            <div class="program animate-box">
			                <img src="images/fit-dumbell.svg" alt="Cycling"/>
				            <h3>@item.Name</h3>
				            <p>@umbraco.library.RemoveFirstParagraphTag(item.programDescription.ToString())</p>
			            </div>
			        </div>
                }
				</div>
			</div>
		</div>
        <div id="fh5co-blog-section" class="fh5co-lightgray-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="heading-section text-center animate-box">
                    <h2>Recent Blog Posts</h2>
                </div>
            </div>
        </div>
        <div class="row text-center">

            @{
                var blogSelection = CurrentPage.Site().FirstChild("blogContent").FirstChild("blogPostHolder").Children.Where("Visible").OrderBy("UpdateDate desc").Take(2);
            }
            <ul>
                @foreach (var blogPage in blogSelection)
                {
                    <div class="blog-preview article animate-box">
                        <div class="articleTitle"><h3 ><a class="blog-url" href="@umbraco.library.NiceUrl(blogPage.Id)">@blogPage.blogPostTitle</a></h3></div>
                        <div class="articlePreview"><p>@blogPage.blogPostContent<p></div>
                        <a href="@umbraco.library.NiceUrl(blogPage.Id)">Read More...</a>
                        <div class="articleInfo">
                            <p> @Umbraco.Field("writerName"), @blogPage.UpdateDate.ToString("dd/MM/yyyy")</p>
                        </div>
                    </div>
                    <hr />
                }
            </ul>

            <a href="/blog">Blog</a>
        </div>
    </div>
</div>


        <div id="fh5co-team-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="heading-section text-center animate-box">
							<h2>@Umbraco.Field("trainersTitle", removeParagraphTags: true)</h2>
							<p>@Umbraco.Field("trainersDescription", removeParagraphTags: true)</p>
						</div>
					</div>
				</div>
				<div class="row text-center">@{
                    var selectionTrainers = CurrentPage.Site().FirstChild("trainers").Children.Where("Visible");
						}
							@foreach (var item in selectionTrainers)
                            {
							    <div class="col-md-4 col-sm-6">
							        <div class="team-section-grid" style="background-image: url(images/trainer-1.jpg);">
							            <div class="overlay-section">
							                <div class="desc">
							                    <p class="fh5co-social-icons">
							                        <a href=@item.trainerFacebook><i class="icon-facebook-with-circle"></i></a>
							                        <a href=@item.trainerInstagram><i class="icon-instagram-with-circle"></i></a>
							                    </p>
							                </div>
							            </div>
							        </div>
							    </div>
							    <div class="trainer-description col-md-offset-4">
                                    <h3>@item.trainerName</h3>
							        <span class="trainer-title">@item.trainerTitle</span>
                                    <p>@item.trainerDescription</p>
							    </div>
                            }
				</div>
			</div>
		</div>
		<div id="fh5co-pricing-section" class="fh5co-pricing fh5co-lightgray-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="heading-section text-center animate-box">
                    <h2>@Umbraco.Field("priceTitle", removeParagraphTags: true)</h2>
                    @Umbraco.Field("pricesDescription")
                </div>
            </div>
        </div>
        <div class="row">
            @{var priceSelection = CurrentPage.Site().FirstChild("prices").Children("price").Where("Visible");
            foreach (var item in priceSelection)
            {
                if (item.bestValue)
                {
                    <div class="col-md-3 animate-box">
                        <div class="price-box animate-box popular">
                            <h2 class="pricing-plan">@item.tariffType<span>Best Offer</span></h2>
                            <div class="price"><sup class="currency"></sup>@item.tariffPrice<small>@item.tariffLength</small></div>
                            <p class="price-desc">@umbraco.library.RemoveFirstParagraphTag(item.tariffDescription.ToString())</p>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3 animate-box">
                        <div class="price-box animate-box">
                            <h2 class="pricing-plan">@item.tariffType</h2>
                            <div class="price"><sup class="currency"></sup>@item.tariffPrice<small>@item.tariffLength</small></div>
                            <p class="price-desc">@umbraco.library.RemoveFirstParagraphTag(item.tariffDescription.ToString())</p>
                        </div>
                    </div>
                }
            }
            }
        </div>
    </div>
</div>


